<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day75.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 75

A transactions DataFrame is given:


                       products
    1                bread eggs
    2           bread eggs milk
    3               milk cheese
    4       bread butter cheese
    5                 eggs milk
    6  bread milk butter cheese


Each row contains products purchased by one customer. Each row of the products column was splitted by a space character and expanded to the following DataFrame (expanded variable) as shown below:


           0       1       2       3
    1  bread    eggs    None    None
    2  bread    eggs    milk    None
    3   milk  cheese    None    None
    4  bread  butter  cheese    None
    5   eggs    milk    None    None
    6  bread    milk  butter  cheese


The names of all products were assigned to the products variable (sorted alphabetically):


    ['bread', 'butter', 'cheese', 'eggs', 'milk']


Use a one-hot encoding to encode transaction database as shown below and assign it to trans_encoded_df variable. In response, print the trans_encoded_df DataFrame to the console.


Expected result:


       bread  butter  cheese  eggs  milk
    0      1       0       0     1     0
    1      1       0       0     1     1
    2      0       0       1     0     1
    3      1       1       1     0     0
    4      0       0       0     1     1
    5      1       1       1     0     1

In [10]:
import pandas as pd
import numpy as np

In [11]:
data = {
    'products': [
        'bread eggs' , 
        'bread eggs milk',
        'milk cheese',
        'bread butter cheese',
        'eggs milk',
        'bread milk butter cheese'
    ]
}

In [12]:
transactions = pd.DataFrame(data = data , index = range(1,7))
transactions.head()

              products
1           bread eggs
2      bread eggs milk
3          milk cheese
4  bread butter cheese
5            eggs milk

In [13]:
expanded = transactions['products'].str.split(expand = True)
expanded.head()

       0       1       2     3
1  bread    eggs    None  None
2  bread    eggs    milk  None
3   milk  cheese    None  None
4  bread  butter  cheese  None
5   eggs    milk    None  None

In [14]:
products = []
for col in expanded.columns: # loc các giá trị 
  for product in expanded[col].unique(): # lọc các giá trị duy nhất
    if product is not None and product not in products: # sàng lọc None và các giá trị mình sắp đưa vào thùng không mà thùng đã chứa
      products.append(product)
products.sort()

In [15]:
trans_encoded = np.zeros(
    (len(transactions),len(products)),dtype = 'int8'
)

In [16]:
for row in zip(range(len(transactions)),trans_encoded, expanded.values):
  for idx, product in enumerate(products):
    if product in row[2]:
      trans_encoded[row[0],idx] = 1

trans_encoded_df = pd.DataFrame(trans_encoded, columns = products)
trans_encoded_df

   bread  butter  cheese  eggs  milk
0      1       0       0     1     0
1      1       0       0     1     1
2      0       0       1     0     1
3      1       1       1     0     0
4      0       0       0     1     1
5      1       1       1     0     1